body {
  background-color: #bbdfc8;
  font-family: 'Merriweather', serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header"
    ". main ."
    ". centre ."
    ". btn ."
    "footer footer footer";
}

.drinkImage {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.btn:hover {
  background-color: #ffc478;
}

.btn {
  background-color: #75cfb8;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  padding: 0.5rem;
  color: black;
}

.container > div {
  grid-column: 2;
}

.header {
  margin-top: 3rem;
  font-family: 'Lato', sans-serif;
  font-size: 50px;
}

.cardHolder {
  display: flex;
  justify-content: space-evenly;
  margin: 5rem 0;
}

.item-a {
  grid-area: header;
  text-align: center;
}
.item-b {
  grid-area: main;
  flex-wrap: wrap;
}
.item-c {
  grid-area: footer;
}

.item-d {
  grid-area: centre;
  margin: 5rem 0;
  display: grid;
  grid-template-columns: 50% 50%;
}

.item-e {
  grid-area: btn;
  margin: -3rem auto 1.5rem auto;
}