body {
  background-color: #bbdfc8;
  font-family: 'Merriweather', serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header"
    ". main ."
    ". centre ."
    "footer footer footer";
}

.drinkImage {
  width: 500px;
  height: 500px;
  object-fit: cover;

}

.drinkDiv {
}

.container > div {
  grid-column: 2;
}

.header {
  margin-top: 3rem;
  font-family: 'Lato', sans-serif;
}

.cardHolder {
  display: flex;
  justify-content: space-evenly;
  margin: 5rem 0;
}

.item-a {
  grid-area: header;
  text-align: center;
}
.item-b {
  grid-area: main;
  flex-wrap: wrap;
}
.item-c {
  grid-area: footer;
}

.item-d {
  grid-area: centre;
  margin: 5rem 0;
}
